@import url("reset.css");
/*var*/
@import url("var.css");

/*componenets*/
@import url("components/header-bar.css");
@import url("components/icon-bar.css");
@import url("components/navigation-bar.css");
@import url("components/title-bar.css");
@import url("components/user-components.css");

html {
    font-family:sans-serif;
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:120px;
}
h1 {
    font-size:40px;
    font-weight:600;
}
h2 {
    font-size:32px;
    font-weight:600;
}
h3 {
    font-size:23px;
}

#resolution-check {
    position:absolute;
    z-index:99;
    height:100vh;
    width:100vw;
    background-color:rgb(219,255,255);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    top: 0;
    animation: resolutionCheck 1s ease-in-out forwards;
    animation-delay: 3s;
}

@keyframes resolutionCheck {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        visibility: hidden;
    }
}

@media screen and (min-width: 645px) {
    #resolution-check {
        display:none;
    }
}