.user-component {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:92vw;
    margin-bottom:30px;
}
.user-component h3 {
    color:var(--gray-font);
}
.user-component img{
    width:102px;
    height:102px;
    border-radius:40%;

}
.user-component--sm img{
    width:90px;
    height:90px;
    border-radius:40%;

}
.user-component--lg img{
    width:115px;
    height:115px;
}
.user-component span{
    display:flex;
    align-items: center;
    font-size:24px;
    color:var(--gray-font);
}
.user-component i{
    font-size:18px;
    margin-left:8px;
}
.user-component__profile {
    display:flex;
    justify-content: left;
    align-items: center;
}
.user-component__profile div {
    display:flex;
    flex-direction: column;
}
.user-component__profile h2 {
    margin-left:25px;
}
.user-component__profile h3 {
    margin-left:25px;
    margin-top:15px;
}
.user-component .fa-comment-alt{
    font-size:40px;
}
.user-component--sub {
    display:flex;
    flex-direction: column;
    align-items: end;
}
.user-component--sub span {
    font-size:22px;
}
.user-component--sub div {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width:25px;
    height:25px;
    border-radius:50%;
    color:white;
    margin-top:10px;
}